[INPUT]
    Name forward

[OUTPUT]
    Name http
    Match *
    tls On
    Host api.logflare.app
    Port 443
    URI $LOGFLARE_URI
    Format json
    Retry_Limit 5
    json_date_format iso8601
    json_date_key timestamp
