.container {
  display: grid;
  /* WTF: 1fr だと chrome でうまく描画されない */
  grid-template-columns: repeat(1, 100%);
}

@media screen and (min-width: 512px) {
  .container {
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: repeat(3, 33.33%);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, 25%);
  }
}
